.planos{
    margin: 0;
}
.titulo{
    h2{
        font-weight: 600;
        font-size: 1.4rem;
        font-style: italic;
        text-align: center;
        padding: 1.6rem 0;
        text-transform: uppercase;
    }
}