@import '@/styles/variaveis';
.description{
    height: 100%;
    &__administradoras{
        display: flex;
        flex-direction: row;
        width: 76vw;
        max-height: auto;
        padding: .8rem 0;
        overflow: hidden;
        
        
        span{
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 12rem;
            height: 2.4rem;
            margin: .4rem;
            padding: .4rem .8rem;
            border: 1px solid $shadow;
            border-radius: .8rem;
            display: flex;
            flex-direction: row; 
            &:hover{
                color: white;
                font-weight: 900;
                background-color: $azul-text;
            }
        }

    }

}