@import '@/styles/variaveis';
.menu{
    display: flex;
    position: sticky;
    top: 0;
    align-items: baseline;
    justify-content: space-between;
    background-color: $azul;
    overflow: hidden;
    box-shadow: 0px 1px 3px 0px $shadow;
    padding: 1rem 12%;
    z-index: 100;
    width: 100%;
    &__lista{
        display: flex;
        list-style: none;
        background-attachment: $azul;
        &__item{
            background-attachment: $azul;

            text-decoration: none;
            margin: 0 1.2rem;
            font-weight: 600;
            font-size: 1.2rem;
            letter-spacing: .064rem;
            color: $azul-text;
        }

        @media screen and(max-width: 1080px){
            &__item{
                margin: 0 .6rem;
                letter-spacing: 0rem;
                font-size: 1rem;

            }
        }
    }
}