@import '@/styles/variaveis';
.menu{
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    padding: 2.4rem 3.2rem;
    align-items: baseline;
    background-color: $azul-text;
    overflow: hidden;
    z-index: 10;
    &__logo{
    }
    &__whatsapp{
        justify-self: flex-end;
    }
    &__icone{
        display: none;
    }

    &__lista{
        display: flex;
        flex-direction: row;
        &__item{
            text-decoration: none;
            margin-right: 3.2rem;
            font-weight: 600;
            font-size: 1.2rem;
            letter-spacing: .064rem;
            color: $branco;
        }
    }

    @media screen and(max-width: 1024px) {
        &{
            padding: 2.4rem 1.2rem 3.2rem 1.2rem;
            width: 100vw;
            grid-template-columns:  1fr 1fr;
            align-items: center;
            &__lista{
                display: none;
            }

            &__whatsapp{
                display: none;
            }
            .navigation{
                display: block;
            }
            &__icone{
                cursor: pointer;
                display: flex;
                flex-direction: column;
                width: 3.2rem;
                justify-self: end;
                align-items: flex-end;
                &__rect{
                    display: flex;
                    margin: .24rem;
                    width: 2rem;
                    height: .12rem;
                    border-radius: 1rem;
                    background-color: $branco;

                }
            }
        }
    }
}