@import '@/styles/variaveis';
.categorias{    
    height: auto;
    width: 76vw;
    // @media screen and(max-width: 990px){
    //     &{
    //         height: 80vh;
    //         background-color: aquamarine;
    //         position: relative;
            
    //     }
    // }
    .categorias__container{

        border: 1px solid $shadow;
        border-radius: .8rem;
        display: flex;
        flex-direction: column;
        padding: 1.6rem 3.2rem;
        overflow: hidden;
        height: 80vh;
        margin: 0 auto;
        width: 100%;

        // @media screen and(max-width: 990px){
        //     &{
        //         background-color: aqua;
        //         width: 100vw;

        //     }
        // }
        &__operadoras{
            
        }
    }
}