@import '@/styles/variaveis';
.logo{
    cursor: pointer;
    white-space: nowrap;
    h1{
        font-weight: 900;
        font-size: 1.6rem;
        color: $branco;
        background-color: transparent;
        span{
            font-weight: 600;

            font-size: 1.2rem;
            color: $branco;
            background-color: transparent;
        }
    }

    @media screen and(max-width: 1024px) {
        &{
            h1{
                font-weight: 600;
                span{
                    font-weight: 400;
                    font-size: 1rem;
                }
            }
        }
    }
}