@import '@/styles/variaveis';

.home{
    display: flex;
    flex-direction: column;
    padding: 1.6rem 6.4em;

    .titulo{
        h2{

            font-weight: 600;
            font-size: 1.4rem;
            font-style: italic;
            text-align: center;
            padding: 1.6rem 0;
            text-transform: uppercase;
        }
    }
    &__recomendados{
        height: auto;
        &__cards{
            display: flex;
            flex-wrap: wrap;
            &__card{
                box-shadow: 0px 0px .8rem $shadow;
                border-radius: 1.2rem;
                cursor: pointer;
                transition: all .3s ease;
                &::after{
                    position: absolute;
    
                    background-color: blue;
                    clip-path: circle(50%);
                }
                &:hover{
                    clip-path: circle(100%);
    
                }
            }
        }
    }

    @media screen and(max-width: 1024px) {
        &{
            padding: 0rem;
            display: flex;
            &__recomendados{
                height: auto;
                &__cards{
                    justify-content: center;
                    &__card{
                        margin-bottom: 3.2rem;
                        width: 92%;
                        height: 24rem;
                        padding: 3.2rem 2.4
                        rem;
                    }
                    &__card:nth-child(2){
                        display: none;
                    }
                }
            }
        }
    }
}
