@import "@/styles/variaveis";

.home {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
  
  &__cards {
    margin: 0 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    &__card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 24rem;
      height: 24rem;
      margin: 1.2rem;
      border-radius: 1.2rem;
      box-shadow: 0px 0px 0.32rem $shadow;
      padding: 2.4rem;
      &__icone {
        font-size: 3.2rem;
        & path{
          color: $azul-text;
        }
      }
      &__title {
        font-size: 2rem;
        padding: 1.2rem 0;
        font-weight: 500;
        color: $text;
      }
      &__description {
        margin-bottom: 1.2rem;
        font-size: 1.2rem;
        font-weight: 400;
        color: $text-cinza;
      }
      &__button {
        border: none;
        cursor: pointer;
        background-color: transparent;
        display: flex;
        align-items: center;
        span {
          margin-left: 0.4rem;
          font-size: .8rem;
          font-weight: 400;
          color: $azul-text;
        }
        &__icone {
          font-size: 1rem;
          border: 1.6px solid $azul-text;
          border-radius: 50rem;
          padding: .08rem;
          color: $azul-text;

          & path{
            color: $azul-text;
          }
        }
      }
    }
  }

  .titulo {
    h2 {
      font-weight: 600;
      font-size: 1.4rem;
      font-style: italic;
      text-align: center;
      padding: 1.6rem 0;
      text-transform: uppercase;
    }
  }
  &__lista {
    min-height: 100vh;
    background-color: $azul;
    padding: 0rem 6.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

  &__operadoras {
    margin-bottom: 3.2rem;
  }

  @media screen and(max-width: 1024px) {
    & {
      padding: 0rem;
      display: flex;
      margin: 0;
      &__cards {
        display: flex;
        flex-direction: column;
        width: 92%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        &__card {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          height: 24rem;
          margin-bottom: 1.2rem;
          border-radius: 1.2rem;
          box-shadow: 0px 0px 0.32rem $shadow;
          padding: 2.4rem;
      }}
    &__lista{
      padding: 0;
      margin: 0;
      padding-bottom: 3.2rem;
    }

    }
  }
}
