@import '@/styles/variaveis';

.header{
    width: 100vw;
    height: calc(100vh - 6.4rem);
    overflow: hidden;
    background-color: $azul-text;
    &__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 3.2rem 6.4rem;


        
        &__texts{
            color: $branco;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            &__txt{
                font-size: 2.4rem;
                letter-spacing: 0.064rem;
                font-weight: 600;
                color: $branco;
            }
            &__description{
                padding: 3.2rem 0;
                color: $branco;
                font-size: 1.4rem;  
                font-weight: 600;         
            }
        }
    }

    
    @media screen and(max-width: 1024px) {
        &{

            &__container{
                padding: 0;
            
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
                &__texts{
                    padding: 3.2rem 6.4rem 1.6rem 1.6rem;

                    &__txt{
                        font-size: 2rem;
                        font-weight: 900;
                        line-height: 2rem;
                    }
                    &__description{
                        font-size: 1rem;
                        line-height: 1.6rem;  
                        padding: 1.6rem 0;

                    }
            }
            }
        }
    }
}