@import '@/styles/variaveis';


.carousel__container{
    height: 8rem;
    width: 75vw;
    .carousel{
        display: flex;
        flex-direction: row;
        width: calc(9rem * 22);
        height: min-content;
        animation: carousel 32s linear infinite ;
        
        &__img{
            margin: 1.2rem;
            max-width: 6.4rem;
            border-radius: 50rem;
            box-shadow:  0px 0px .32rem 0rem $shadow; 
        }
        &:hover,
        &:active{
            animation-play-state: paused;
            cursor: grabbing;
        }
        
        

        @keyframes carousel{
            0%{
                transform: translateX(-8rem) ;

            }
            100%{
                transform: translateX(calc(-9rem * 11 - 5.9rem)) ;
            }
        }
    }
    
    
    
}