@import '@/styles/variaveis';


.carousel__container{
    height: 9rem;
    width: 75vw;
    overflow: hidden;
    position: relative;
    .carousel{
        display: flex;
        flex-direction: row;
        width: calc(9rem * 22);
        animation: carousel 20s linear infinite ;
        
        &__img{
            margin: 1.2rem;
            max-width: 6.4rem;
            border-radius: 50rem;
            box-shadow:  0px 0px 0rem .08rem $shadow;
        }

        @keyframes carousel{
            0%{
                transform: translateX(0%) ;

            }
            100%{
                transform: translateX(calc(-9rem * 11)) ;
            }
        }
    }
    
    
    
}