.menuResponvivo{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 2.4rem 1.2rem 3.2rem 1.2rem;
    z-index: 10000;
    .icone{
        display: flex;
        height: 1.6rem;
        width: 3.2rem;
        position: relative;
        cursor: pointer;

        &__rect{
            display: flex;
            margin: 0rem .32rem;
            width: 2rem;
            height: .12rem;
            border-radius: 1rem;
            background-color: #000;
            &:nth-child(1){
                position: absolute;
                transform: rotate(45deg);
                right: 0;
                top: 50%;
            }
            &:nth-child(2){
                position: absolute;
                transform: rotate(-45deg);
                right: 0;
                top: 50%;
            }
        }
    }
}
.off{
    display: none;
}