@import '@/styles/variaveis';
.itemContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1024px;
    justify-content: center;
    .item{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 64vh;

        box-shadow: 0px 0px .32rem $shadow;
        border-radius: 1.2rem;
        margin: 1.6rem;
        padding: 3.2rem 1.6rem;
        &__flip{
            perspective: 1000px;
            width: 100%;
            height: 100%;

            &__inner{
                position: relative;
                transform-style: preserve-3d;
                width: 100%;
                height: 100%;
                
                &__front{
                    width: 100%;
                    height: 100%;
                    tr{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        align-items: center;
                        margin-bottom: 1.2rem;
                        box-shadow: 0px 0px .16rem $shadow;
                        border-radius: .4rem;
                        th{                        
                            text-align: center;
                        }
                        td{
                            padding: .4rem .8rem;
                            background-color: $azul;

                            text-align: end;
                        }
                        img{
                            max-width: 6.4rem;
                            border-radius: 6.4rem;
                            box-shadow: 0px 0px .32rem $shadow;

                            &:first-child{
                                display: none;
                            }
                        }
                        td{
                        }
                        &:first-child{
                            background-color: transparent;
                            margin: 0 auto;
                            padding: 0;
                            display: flex;
                            margin-bottom: 3.2rem;
                            box-shadow: none;
                            background-color: transparent;
                        }
                        &:last-child{
                            margin: 0;
                            background-color: transparent;
                            box-shadow: none;
                            padding: 0;
                            margin-top: .8rem;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            td{
                                background-color: transparent;
                                white-space: nowrap;
                            }
                        }
                    }
                    
                }
                &__back{
                    transform: rotateY(180deg);
                }
                
                &__back, &__front{
                    position: absolute;
                    display: grid;
                    grid-template-rows: auto;
                    width: 100%;
                    height: 100%;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                }
                
                .ativa {
                    animation: flipCard .1s ease-in both;
                }
                @keyframes flipCard{
                    0%{
                        transform: rotateX(0deg);
                    }
                    100%{
                        transform: rotateX(180deg);
                    }
                
                }
                .ativa__back {
                    transform: rotateY(0deg);
                }
            }
        }   

        &:active{
            
        }
    }
    @media screen and (max-width: 1024px){
        &{
            padding: 0rem .8em;
            display: flex;
            flex-direction: column;
            width: 92vw;
            .item{
                margin-bottom: 1.6rem;
                &__flip{

                    &__front{
                        
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}
